<style type=text/css>

  body{font-size:12px; background:#FAFAFA;}
  #switcher{margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;}
  #tab_nav{margin:0; padding:0px; height:25px; line-height:24px;}
  #tab_nav li{float:left; margin:0 0px; list-style:none; border-bottom:none; height:24px; width:75px; text-align:left; background:#FAFAFA;}
  #tab_nav a{font:18px/24px 'Montserrat', sans-serif; color:#9E9E9E; text-decoration:none;padding-right: 20px}
  #tab_nav a:hover{color:#212121;}
  
  #headline{margin-top: 30px solid #E0E0E0}
  
  #canvas_1 {
  font-family: 'Arvo', serif;
  margin-top: 30px;
  height: 1080px;
  border: 0px solid #000;
  overflow: hidden;
}
  #canvas_2 {
  font-family: 'Arvo', serif;
  margin-top: 30px;
  height: 1080px;
  border: 0px solid #000;
  overflow: hidden;
}
  #canvas_3 {
  margin-top: 30px;
  height: 1080px;
  border: 0px solid #000;
  overflow: inherit;
}
  .goto {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  width: 190px;
  font-family: 'Montserrat', sans-serif; 
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;}

.goto:hover {
  background: #693cfc;
  text-decoration: none;}

.centerText {
    text-align: center;
}

.title{text-align: center;}
.material-icons{color: #2196F3;}

